<!-- ******HEADER****** --> 
<header id="header" class="header">  
    <div class="container">            
        <h1 class="logo pull-left">
            <a class="scrollto"  ui-sref="home">
                <span class="logo-title">instagram-rt</span>
            </a>
        </h1><!--//logo-->              
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->            
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item" ui-sref-active="active"><a class="scrollto" ui-sref="home">Home</a></li>
                    <li class="nav-item" ui-sref-active="active"><a class="scrollto" ui-sref="login">Login</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->