
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modal.dismiss('cancel');">×</button>
          <h4 class="modal-title">{{::title}}</h4>
        </div>
        <div class="modal-body">
          <p ng-bind-html="message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="modal.dismiss('cancel');">ok</button>
        </div>
      </div>
