.iconpack-vk{
	background: url(iconpack.jpg); 
	  width: 74px;
  height: 74px;
  display: block;
  margin: 0 auto;
  background-position-x: -140px;
  background-position-y: -126px;

}

.iconpack-facebook{
	background: url(iconpack.jpg); 
	  width: 74px;
  height: 74px;
  display: block;
  margin: 0 auto;
    background-position-x: -225px;
  background-position-y: -126px;
}