<top-sidebar logined="0"></top-sidebar>
<section id="about" class="about section" ng-controller="homeCtrl as ctrl" ng-init="ctrl.init()">
    <div class="container main-container text-center col-md-12">
        
        <div ng-if="ctrl.circle" class="col-md-8 map-menu" ng-swipe-left="ctrl.closeMenu()">
        	<div class="col-md-12" style="padding:0;">
    			<a href="javascript:;" ng-click="ctrl.closeMenu()"  class="pull-right" style="color: gray;font-size: 30px;"><i class="fa fa-times"></i></a>
  			</div>

        </div>

		<div class="{{ (!ctrl.circle)? 'col-md-12' : 'col-md-4' }} ya-map">
			<ya-map ng-if="ctrl.inited" ya-center="{{ctrl.mapSettings.center}}" ya-zoom="{{ctrl.mapSettings.zoom}}" 
				ya-event-click="ctrl.mapClick($event)"
	        	ya-after-init="ctrl.afterInit($target)">
	        </ya-map>	
		</div>
        

        <div ng-if="!ctrl.inited">
        	<div class="col-md-2 col-md-offset-5">
        		<p>Загрузка....</p>
        	</div>
        </div>
        <!--//meta-->
    </div><!--//container-->
    
</section>


